#cart-page {

    header {
        padding-top: 122px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        .cart-heading {
            
            h1 {
                font-size: 24px;
                line-height: 36px;
                letter-spacing: -0.01em;
            }

            &__wrap {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 1rem;

                &__process {

                    ol {
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        li {
                            font-size: 15px;
                            letter-spacing: -0.01em;
                            line-height: 20px;
                            color: $font-light-gray;

                            .curr-step {
                                display: inline-block;
                                color: $font-green;
                                width: 20px;
                                height: 20px;
                                margin-right: 6px;
                                background: #d5d5d5;
                                border-radius: 10px;
                                text-align: center;
                                font-weight: 500;
                                font-size: 12px;
                                color: #fff;

                                &.active {
                                    background-color: $font-green;
                                    color: #fff;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    main {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .cart-control {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            margin-bottom: 1rem;

            &__wrap {
                box-sizing: border-box;
                width: 864px;
                height: 60px;
                padding: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 0.5rem;
                background-color: #F7F7F7;

                button {
                    border: none;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                }

                .select-all {
                    gap: 0.5rem;
                    background-color: transparent;

                    .icon {
                        border: 1px solid rgba(0, 0, 0, 0.18);
                        border-radius: 50%;
                        width: 22px;
                        height: 22px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #ffffff;
                        transition: all 0.15s ease;
                        border-radius: 50%;

                        &.active {
                            border: 1px solid transparent;
                            background-color: $font-purple;
                            color: #FFF;
                        }
                    }

                    span {
                        font-size: 14px;
                        letter-spacing: -0.01em;
                        line-height: 20px;
                        color: #000;
                    }
                }

                .delete {
                    background-color: #fff;
                    border: .5px solid #ccc;
                }
            }
        }

        .cart-contents {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;

            .cart-list {
                flex: 3;
                margin-right: 3rem;

                &__container {
                    width: 100%;
                    max-height: 750px;

                    &__scroll-inner {
                        width: 100%;
                        height: 100%;
                        overflow-y: auto;
                        &::-webkit-scrollbar {
                            width: 3px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: #000000;
                        }

                        &::-webkit-scrollbar-track {
                            background-color: $font-gray;
                        }

                        .item-header {
                            border-top: 1px solid #000;
                            padding: 1rem 0;
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;

                            .icon {
                                color: $font-purple;
                            }

                            h1 {
                                font-size: 16px;
                                line-height: 24px;
                                letter-spacing: -0.01em;
                                font-weight: 700;
                                color: #000;
                            }
                        }

                        &__cart-item {
                            display: flex;
                            width: 100%;
                            border-top: 1px solid rgba(0, 0, 0, 0.18);
                            border-bottom: 1px solid rgba(0, 0, 0, 0.18);

                            .select-one {
                                padding: 1rem 0;
                                display: flex;
                                justify-content: flex-start;
                                align-items: flex-start;
                                background-color: transparent;
                                border: none;
                                margin-right: 1rem;
            
                                .icon {
                                    border: 1px solid rgba(0, 0, 0, 0.18);
                                    border-radius: 50%;
                                    width: 22px;
                                    height: 22px;
                                    cursor: pointer;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background-color: #ffffff;
                                    transition: all 0.15s ease;
                                    border-radius: 50%;
            
                                    &.active {
                                        border: 1px solid transparent;
                                        background-color: $font-purple;
                                        color: #FFF;
                                    }
                                }
                            }

                            &__details {
                                padding: 1rem 0;
                                flex: 1;
                                display: flex;
                                gap: 1rem;
                                border-right: 1px solid rgba(0, 0, 0, 0.18);
                                margin-right: 1rem;

                                img {
                                    width: 80px;
                                    height: 120px;
                                }

                                .title {
                                    font-size: 14px;
                                    line-height: 22px;
                                    letter-spacing: -0.01em;
                                    margin-bottom: 0.5rem;
                                }

                                .price-wrap {
                                    display: flex;
                                    align-items: center;
    
                                    .discount {
                                        font-size: 12px;
                                        margin-right: 0.5rem;
                                        color: $font-green;
                                        font-weight: bold;
                                        vertical-align: top;
                                    }
    
                                    .price,
                                    .unit {
                                        font-size: 12px;
                                        line-height: 1.5rem;
                                        letter-spacing: -.01em;
                                        vertical-align: top;
    
                                        &.discounted {
                                            color: $font-gray;
                                            margin-left: 0.25rem;
                                            text-decoration: line-through;
                                        }
                                    }
                                }
                            }

                            .amount-control {
                                padding: 1.5rem;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                &__wrap {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 0.5rem;
                                    align-items: center;

                                    .price {
                                        font-size: 16px;
                                        line-height: 24px;
                                        letter-spacing: -0.01em;
                                        font-weight: 700;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            aside {
                position: sticky;
                top: 274px;
                flex: 1;

                .payment-info {
                    width: 100%;
                    border: 1px solid rgba(0, 0, 0, 0.18);
                    border-radius: 0.5rem;

                    .divider {
                        width: 100%;
                        height: 0.5px;
                        background-color: rgba(0, 0, 0, 0.18);
                        margin: 0.5rem 0;
                    }

                    &__wrap {
                        padding: 1.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;

                        &__item {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 0.5rem;

                            .text-wrap {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                .heading {
                                    flex-shrink: 0;
                                    font-size: 14px;
                                    line-height: 22px;
                                    letter-spacing: -0.01em;
                                    
                                    &.bold {
                                        font-weight: bold;
                                    }
                                }

                                .price {
                                    font-weight: 700;
                                    font-size: 15px;
                                    line-height: 23px;
                                    letter-spacing: -0.01em;

                                    &.bold {
                                        font-weight: 700;
                                        font-size: 20px;
                                        line-height: 30px;
                                        letter-spacing: -0.01em;
                                    }
                                }

                                .unit {
                                    font-size: 14px;
                                    line-height: 22px;
                                    letter-spacing: -0.01em;
                                    margin-left: 2px;
                                }
                            }
                        }

                        button {
                            margin-top: 1rem;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}