.my-page {

    &__wrap {
        display: flex;

        aside {
            flex: 1;
            min-width: calc(200px - 1.5rem);
            margin-right: 1.5rem;

            .user-profile {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 3px;
                padding: 1rem;
                border-radius: 0.5rem;
                background-color: #676BAD;
                position: relative;

                &.loading {
                    background-color: white;
                }

                .user-image {
                    width: 84px;
                    height: 84px;
                    border-radius: 50%;
                }

                .user-profile__info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.5rem;

                    .username {
                        color: #fefefe;
                        font-weight: bold;
                        font-size: 20px;
                    }
                }

                .hover-menu {
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0,.5);
                    border-radius: 0.5rem;
                    cursor: pointer;
                    transition: opacity 0.3s ease;

                    &__wrap {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        color: #fff;

                        .icon {
                            position: absolute;
                            top: 0.5rem;
                            right: 0.5rem;
                        }

                        span {
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 17px;
                            letter-spacing: -0.01em;
                        }
                    }
                }

                .hover-menu:hover {
                    opacity: 1;
                }

                .skeleton.img {
                    width: 84px;
                    height: 84px;
                    border-radius: 50%;
                }

                .skeleton-gap {
                    margin-top: 0.25rem;
                    border-radius: 0.5rem;
                }

                .skeleton.username {
                    width: 60px;
                    height: 17px;
                }

                .skeleton.badge {
                    width: 42px;
                    height: 24px;
                    border-radius: 1rem;
                }
            }
        }
    }

    section {
        flex: 5;
    }
}