.point-logs {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: transparent;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 1px 4px 3px 1px rgba(0, 0, 0, 0.08);
    

    h1 {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.01em;
    }

    .user-point {
        width: 100%;

        &__wrap {
            box-sizing: border-box;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem;
            background-color: rgba(80, 85, 177, 0.12);
            border-radius: 0.5rem;
            transition: all .15s ease;

            &:hover {
                background-color:  rgba(80, 85, 177, 0.24);
            }

            .user-point-text {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                h1 {
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.01em;
                    margin-bottom: 1rem;
                }

                span {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.01em;
                    text-align: right;
                    color: $font-purple;
                    font-weight: bold;
                }
            }
        }
    }

    .filter {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        .filter-title {
            margin-top: 1rem;
            min-width: 121px;
            margin-bottom: 0.5rem;
            font-size: 17px;
            letter-spacing: -0.01em;
            line-height: 18px;
        }

        .filter-options {
            display: flex;
            align-items: center;

            input.point-log {
                display: inline-block;
                margin: 0 1rem;
                flex: 1;
                height: 44px;
                padding: 0 14px 2px;
                color: #000;
                font-size: 14px;
                line-height: 42px;
                letter-spacing: -0.01em;
                font-family: "Noto Sans KR", sans-serif;
                background-color: #fff;
                border: 1px solid #d5d5d5;
                border-radius: 6px;
                box-sizing: border-box;
                transition: border-color 0.2s ease-out;
                outline: none;
            }

            button.common-button {
                display: flex;
                align-items: center;
                flex-direction: row;
                min-width: 35px;
                height: 44px;
                padding: 0 23px 1px;
                border-radius: 6px;
                font-family: "Noto Sans KR", sans-serif;
                font-weight: 700;
                font-size: 15px;
                line-height: 23px;
                letter-spacing: -0.01em;
                display: inline-block;
                box-sizing: border-box;
                vertical-align: top;
                border: none;
                cursor: pointer;
                background-color: #676BAD;
                color: #fff;
            }
        }
    }
    
    .point-log-table {
        width: 100%;

        &__wrap {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            background-color: rgba(80, 85, 177, 0.06);
            border-radius: 0.5rem;
            padding: 1rem;
            white-space: normal;
            word-break: break-all;
            font-size: 15px;
            line-height: 23px;
            letter-spacing: -0.01em;
            text-wrap: balance;
            border: 1px solid #9A9ACD;
            color: #5055b1;
            font-weight: bold;

            .review-control-panel {
                display: flex;
                align-items: center;
                justify-content: space-between;
                min-height: 34px;
            }

            .review-actions {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
            }

            .review-actions-buttons {
                position: absolute;
                top: 1rem;
                right: -4.7rem;
                z-index: 9;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 1rem;
                padding: 1rem 0.5rem;
                border-radius: 0.5rem;
                background-color: #28303F;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
            }

            table {
                border-collapse: collapse;
            }

            tr {
                border-bottom: 1px solid #9A9ACD;
                height: max-content;

                &:last-of-type {
                    border: none;
                }
            }

            td,
            th {
                padding: 1rem 0.5rem;
                height: 100%;
            }

            tr {

                &:first-of-type {
                    border-bottom: 1px solid #9A9ACD;
                }
            }
        }
    }

    .reviews-pagination {
        padding-top: 1rem;
        width: 100%;
        max-width: max-content;
        margin: 0 auto;
        display: flex;
        align-items: center;

        &__arrow-btn {
            background-color: transparent;
            border: 1px solid rgba(0, 0, 0, .24);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: 0.25rem;

            &.disabled {
                cursor: default;
            }

            .icon {
                font-size: 19px;
            }

            &.left {
                margin-right: 0.5rem;
            }

            &.right {
                margin-left: 0.5rem;
            }
        }

        &__page-num {
            border: none;
            background-color: transparent;
            font-size: 13px;
            line-height: 1;
            letter-spacing: -0.01em;
            color: #767676;
            border-radius: 12px;
            width: max-content;
            height: 24px;
            cursor: pointer;

            &.gap {
                margin-right: 0.25rem;
            }

            &.active {
                font-weight: bold;
                background-color: #767676;
                color: #fff;
            }
        }

        .text-ellipsis {
            display: inline-block;
            text-align: center;
            vertical-align: top;
            box-sizing: border-box;
            width: 10px;
            height: 2px;
            margin: -3px 8px;
        }
    }
}